.title{
	padding: 10px;
	margin: 10px;
}
.inputTitle{
	padding: 0px;
	margin: 10px;
	background-color: #ffffff;
}
.search{
	padding:3px;
	margin:5px;
	background-color: #ffffff;
}
.searchF{
	padding:3px;
	margin:5px;
}
.addButton{
	padding: 10px;
	margin: 10px;
	float: right;
}
.searchPage{
	float: right;
	padding:3px;
	margin:5px;
}
.toolbar {
	border: 1px solid #ccc;/*设置下拉棒*/
}
.w-e-text-container {
    border: 1px solid #ccc;
    height: 450px !important;
}